body{
    height: 30rem;
    width: 30rem;
    padding: 1rem 5rem 1rem;
}

body div #box{
    background: white;
    height: 15rem;
    width: 15rem;
    border: solid .1rem;
    border-radius: .4rem;
}

.message{
    background: #FF0000;
    color: #FFF;
}

.change-message{
    width: 25rem;
    height: 2rem;
    background-color: #FF8008;
    text-align: center;
    font-size: 1.25rem;
    padding: 1.25rem;
    margin-bottom: .5rem;
}